<!-- contact section -->
<section id="contact" class="parallax-section contato">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
        <h1 class="heading">Contate-nos</h1>
        <hr>
      </div>
      <div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
        <form>
          <div class="col-md-12 col-sm-12">
            <input name="name" type="text" class="form-control formulario" id="name" placeholder="Nome">
          </div>
          <div class="col-md-6 col-sm-6">
            <input name="email" type="email" class="form-control formulario" id="email" placeholder="Email">
          </div>
          <div class="col-md-6 col-sm-6">
            <input name="telefone" type="telefone" class="form-control formulario" id="telefone" placeholder="telefone">
          </div>
          <div class="col-md-12 col-sm-12">
            <textarea name="message" rows="8" class="form-control formulario" id="message" placeholder="Mensagem"></textarea>
          </div>

          <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
            <input class="form-control" id="submit" value="Enviar">
          </div>
        </form>
      </div>
      <div class="col-md-2 col-sm-1"></div>
    </div>
  </div>
</section>
