<!-- team section -->
<section id="team" class="parallax-section sobre">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
        <h1 class="heading">Meet Zentro chefs</h1>
        <hr>
      </div>
      <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
        <img src="assets/images/team1.jpg" class="img-responsive center-block" alt="team img">
        <h4>Thanya</h4>
        <h3>Main Chef</h3>
      </div>
      <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
        <img src="assets/images/team2.jpg" class="img-responsive center-block" alt="team img">
        <h4>Lynda</h4>
        <h3>Pizza Specialist</h3>
      </div>
      <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
        <img src="assets/images/team3.jpg" class="img-responsive center-block" alt="team img">
        <h4>Jenny Ko</h4>
        <h3>New Baker</h3>
      </div>
    </div>
  </div>
</section>
