<!-- footer section -->
<footer class="parallax-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
        <h2 class="heading">Informações de Contato</h2>
        <div class="ph">
          <p><i class="fa fa-phone"></i> Telefone</p>
          <h4>(21)97691-3039</h4>
        </div>
        <div class="address">
          <p><i class="fa fa-map-marker"></i> Nossa Localização</p>
          <h4>Av: Comendador Teles, 1758 - Vilar dos Teles - RJ</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
        <h2 class="heading">Horário de Atendimento</h2>
        <p>Seg-Sex <span>9:00 - 18:00 </span></p>
        <p>Sábado <span>9:00 - 12:00 </span></p>
      </div>
      <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
        <h2 class="heading">Social</h2>
        <ul class="social-icon">
          <li><a href="#" class="fa fa-facebook wow bounceIn" data-wow-delay="0.3s"></a></li>
          <li><a href="#" class="fa fa-twitter wow bounceIn" data-wow-delay="0.6s"></a></li>
          <li><a href="#" class="fa fa-instagram wow bounceIn" data-wow-delay="0.9s"></a></li>
          <li><a href="#" class="fa fa-google-plus wow bounceIn" data-wow-delay="0.9s"></a></li>
          <!--<li><a href="#" class="fa fa-github wow bounceIn" data-wow-delay="0.9s"></a></li>-->
        </ul>
      </div>
    </div>
  </div>
</footer>
