<!-- preloader section -->
<section class="preloader">
  <div class="sk-spinner sk-spinner-pulse"></div>
</section>

<!-- navigation section -->
<section class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">KITRUFAS</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" id="home_" class="smoothScroll">HOME</a></li>
        <li><a href="#gallery" id="galeria" class="smoothScroll">GALERIA</a></li>
        <!--<li><a href="#menu" id="menupreco" class="smoothScroll">MENU DE PREÇOS</a></li>-->
        <!--<li><a href="#team" id="sobre" class="smoothScroll">SOBRE</a></li>-->
        <li><a href="#contact" id="contato" class="smoothScroll">CONTATO</a></li>
      </ul>
    </div>
  </div>
</section>
