<!-- menu section -->
<section id="menu" class="parallax-section menu">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
        <h1 class="heading">Nossos Preços</h1>
        <hr>
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>Docinho Convencional ................ <span>{{ 45.00 | currency:'BRL':'true'}}</span></h4>
        <h5>O Cento</h5>
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>Doces Gourmet ................................ <span>{{70.00 | currency:'BRL':'true'}}</span></h4>
        <h5>O Cento</h5>
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>Trufas Variadas ............................. <span>{{2.00 | currency:'BRL':'true'}}</span></h4>
        <h5>A unidade</h5>
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>Trufas Variadas .............................. <span>{{150.00 | currency:'BRL':'true'}}</span></h4>
        <h5>O Cento</h5>
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>Bombons Variados ........................ <span>{{1.50 | currency:'BRL':'true'}}</span></h4>
        <h5>A Unidade</h5>
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>Bombons Variados ........................... <span>{{90.00 | currency:'BRL':'true'}}</span></h4>
        <h5>O Cento</h5>
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>Copinhos de Chocolate ................. <span>{{2.00 | currency:'BRL':'true'}}</span></h4>
        <h5>A Unidade</h5>
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>Pirulito de Chocolate .......................... <span>{{1.80 | currency:'BRL':'true'}}</span></h4>
        <h5>A Unidade</h5>
      </div>
    </div>
  </div>
</section>

