<!-- menu section -->
<section id="menu" class="parallax-section menu">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
        <h1 class="heading">Nossos Preços</h1>
        <hr>
      </div>
      <div class="col-md-offset-1 col-md-10 col-offset-sm-1 col-sm-10">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <td class="id_td_line">Docinho convencional</td>
              <td class="id_td_line">Cento</td>
              <td class="id_td_line">45,00</td>
            </tr>
            <tr>
              <td class="id_td_line">Doces Gourmet</td>
              <td class="id_td_line">Cento</td>
              <td class="id_td_line">60,00</td>
            </tr>
            <tr>
              <td class="id_td_line">Trufas Variadas</td>
              <td class="id_td_line">Unidade</td>
              <td class="id_td_line">2,00</td>
            </tr>
            <tr>
              <td class="id_td_line">Trufas Variadas</td>
              <td class="id_td_line">Cento</td>
              <td class="id_td_line">150,00</td>
            </tr>
            <tr>
              <td class="id_td_line">Bombons Variados</td>
              <td class="id_td_line">Unidade</td>
              <td class="id_td_line">1,50</td>
            </tr>
            <tr>
              <td class="id_td_line">Bombons Variados</td>
              <td class="id_td_line">Cento</td>
              <td class="id_td_line">99,00</td>
            </tr>
            <tr>
              <td class="id_td_line">Copinhos de Chocolate</td>
              <td class="id_td_line">Unidade</td>
              <td class="id_td_line">2,00</td>
            </tr>
            <tr>
              <td class="id_td_line">Pirulito de Chocolate</td>
              <td class="id_td_line">Unidade</td>
              <td class="id_td_line">1,80</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

