<!-- Início de Sessão Novidades -->
<section class="slider novidades" id="novidades">
  <div class="col-md-12 col-sm-12 col-xs-12"  id="id_banner_novidades">
    <div class="col-md-2">

      <img src="../../assets/images/chocolate_left_novidades.png" height="250" width="370"/>
      <!--<img src="../../assets/images/borda-baner-novidades.png" height="250" width="370"/>-->
    </div>

    <div class="col-md-10 col-sm-12">
      <h1 style="padding-top: 20px;" class="heading">Novidades</h1>
      <hr>
      <p>Procurando algo diferente para uma pessoa especial??</p>
      <p>Veio ao lugar certo...</p>
    </div>

    <div class="container">
      <div class="col-md-12 col-sm-12">
        <div class="jumbotron">
          <h2>Mês de Março.. Pascoa chegando</h2>
          <h4>Em breve teremos muitas novidades, aguardem!!</h4>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Fim de Sessão Novidades -->
